@model List<MVCCitel.Models.Domain.Product>
@{
}

    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Lista de Produtos</h1>
            <div class="card mb-4">
                <div class="card-header">
                    <div class="container-fluid px-4">
                        <div class="row">
                            <div class="col-md-6">
                                <i class="fas fa-table me-1"></i>
                                Produtos
                            </div>
                            <div class="col-md-6 text-end">
                                <a class="btn btn-primary" asp-area="" asp-controller="Product" asp-action="Add"><i class="fas fa-plus me-1"></i> Novo Produto</a>       
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nome</th>
                                <th>Descrição</th>
                                <th>Preço</th>
                                <th>Categoria</th>
                                <th>Criado em</th>
                                <th>Editar</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Id</th>
                                <th>Nome</th>
                                <th>Descrição</th>
                                <th>Preço</th>
                                <th>Categoria</th>
                                <th>Criado em</th>
                                <th>Editar</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var category in Model)
                            {
                                <tr>
                                    <td>@category.Id</td>
                                    <td>@category.Name</td>
                                    <td>@category.Description</td>
                                    <td>@category.Price</td>
                                    <td>@category.Category?.Name</td>
                                    <td>@category.CreatedAt.ToString("dd/MM/yyyy")</td>
                                    <td><a href="Product/View/@category.Id"><i class="fas fa-edit me-1"></i> </a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>